<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.versonr7.zavogles">  <!-- غيّر -->
    
    <application
        android:label="ZAVOGLES-GUI"   <!-- غيّر -->
        android:debuggable="true">
        
        <activity
            android:name="android.app.NativeActivity"
            android:label="ZAVOGLES-GUI"   <!-- غيّر -->
            android:exported="true">
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
            <meta-data
                android:name="android.app.lib_name"
                android:value="zavogles_gui" />   <!-- غيّر -->
        </activity>
        
    </application>
</manifest>
